# Model provider to use for generating embeddings. Supported values: 'gemini', 'openai'
MODEL_PROVIDER='openai'

# Google Gemini
GOOGLE_API_KEY='sua-api-key-aqui'
GOOGLE_EMBEDDING_MODEL='models/embedding-001'
GOOGLE_CHAT_MODEL='gemini-2.5-flash-lite'

# OpenAI
OPENAI_API_KEY='sua-api-key-aqui'
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
OPENAI_CHAT_MODEL='gpt-5-nano'

# PGVector configuration
DATABASE_URL='sua-url-de-conexao-aqui'
PG_VECTOR_COLLECTION_NAME='documents_collection'

# PDF file path
PDF_PATH='document.pdf'